<%=form_for  :post do|f|%>
<table>
	<tr>
		<td><%=f.label :Title%></td>
		<td><%=f.text_field :title%></td>
	</tr>
	<tr>
		<td><%=f.label :Message%></td>
		<td><%=f.text_area :message%></td>
	</tr>
	<tr> 
		<td><%=f.submit%></td>
	</tr>
</table>
<% end %>
