<h1> New Post form</h1>
<%=link_to 'BACK',posts_path%>

<%=form_for  :post,url: posts_path do|f|%>
<table>
	<tr>
		<td><%=f.label :Title%></td>
		<td><%=f.text_field :title%></td>
	</tr>
	<tr>
		<td><%=f.label :Message%></td>
		<td><%=f.text_area :message%></td>
	</tr>
	<tr> 
		<td><%=f.submit%></td>
	</tr>
</table>
<% end %>
<br>


